.carousel-inner img {
    width: 100vw;
    height: 100vh;
    filter: brightness(0.8);
}
body{
    background:url(../Images/bg.jpg)
}
.form-control,.form-control:focus,.accordion-button:not(.collapsed) {
    background-color: transparent;
}
.form-control::placeholder,.form-control:focus,.form-control{
    color: white;
}
.form-control:focus,.carousel-caption button:focus,.d-flex button:focus,.form-check-input:checked,.form-check-input:not(:checked){
    box-shadow: 0px 0px 0px 0px ;
}
.form-control:focus{
    border-color: #c9ab81;
}
.modal-header,.modal-body,.modal-footer{
    background: #2C3343;
}
.carousel-caption,.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.3);
}
nav{
    background-color: rgba(0, 0, 0, 0.2);
}
.dropdown-item:hover,.icons a{
    background-color: black;
}
.form-check-input:not(:checked),.form-check-input:checked{
    border: 0;
    outline: 0;
}
.form-check-input:checked,.icons a:hover,.modal-footer button,.modal-body button{
    background-color: #b3761b;
}
.image1,.image2{
    height: 50vh;
    background: no-repeat fixed center/cover;
}

.card-sec .card::before,.card-sec .card::after{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 1s;
}
.card-sec .card::before{
    top: 0;
    left: 0;
}
.card-sec .card::after{
    bottom: 0;
    right: 0;
}
.card-sec .card:hover::before,.card-sec .card:hover::after{
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}
.card-sec img{
    height: 450px;
}
.cards-section .card,.card-img-overlay{
    transition: 0.5s;
}
.card-img-overlay{
    background-color: rgba(0, 0, 0, 0.8);
}
.cards-section .card:hover{
    transform: scale(0.98);
}
.cards-section .card:hover .card-img-overlay{
    background-color: rgba(50, 30, 70, 0.525);
}
.cards-section .card:hover .card-img-overlay div:first-child{
    animation: move 1s forwards;
}
@keyframes move {
    to{
        transform: translateY(20px);
    }
}
textarea::placeholder{
    color: rgb(82, 82, 82) !important;
}
.accordion-button:focus{
    box-shadow: 0px 0px  10px 2px rgba(0, 0, 0, 0.2);
}
@media (max-width : 1600px) {
    .news>div{
        position: relative;
        display: flex;
        flex-direction: row-reverse;
    }
    .news> div img {
        width: 34%;
        position: absolute;
        top: 0;
        height: 100%;
    }
    .new>div:nth-child(even) img{
        clip-path: polygon(0 0, 72% 0%, 57% 100%, 0 100%);
        left: 0;
    }
    .new>div:nth-child(odd) img{
        clip-path: polygon(28% 0, 100% 0%, 100% 100%, 43% 100%);
        right: 0;
    }
}
@media(max-width : 576px){
    .news>div{
        display: flex;
        flex-direction: column;
        height: 400px;
        overflow-y: hidden;
    }
    .news>div img{
        clip-path: none;
        position: static;
        width: 100%;
        height: auto;
        border-bottom-left-radius:  0 !important;
        border-bottom-right-radius: 0 !important;
        order: 1;
    }
    .news>div div h5{
        margin-top: -16px;
    }
    .news>div div:first-of-type{
        width: 100% !important;
        order: 2;
        padding-inline: 13px !important;
    }
    .news>div div p:nth-child(3){
        font-size: 19px;
        margin-top: -19px;
    }
    .news>div div:nth-child(4) button:last-of-type{
        margin: 10px 35px 0;
    }
    .news>div  div:nth-child(4) button:nth-child(1){
        margin-right: 7px;
    }
}